<div class="container4 m-5 mt-0">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <a class="navbar-brand" 
        {% if user.is_authenticated %}
        href="{% url 'post-list' %}">
        {% else %}
        href="{% url 'index' %}">
        {% endif %}
        <i class="fa-regular fa-star"></i> ChatBook</a>
        {% if user.is_authenticated %}
       
          <div class="nav-item dropdown" style="width:4rem">
            <a class="nav-link dropdown-toggle text-dark" data-bs-toggle="dropdown" role="buton" aria-expanded="false"><i class="fas fa-user"></i></a>
            <ul class="dropdown-menu" style="width:2rem">
              <li><a class="dropdown-item" href=" {% url 'profile' user.profile.pk %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a></li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>
    </div>